<div class="container">
  <%= simple_form_for [@trip, @itinerary] do |f| %>
  <%= f.input :description %>
  <%= f.input :date, as: :string, input_html: { data: { controller: "datepicker" } } %>
  <%= f.button :submit, class:" btn btn-input mt-2 roboto-bold" %>
<% end %>

</div>
