<div class="container form">
  <%= simple_form_for [@trip, @itinerary] do |f| %>
  <%= f.input :description %>
  <%= f.input :date %>
  <%= f.button :submit, class:"btn-singup btn btn-ghost mt-2" %>
<% end %>

</div>
