<h1 class="d-flex justify-content-center bebas-neue-regular m-4">Editing service</h1>

<%= render "form", monument: @service %>

<br>

<div>
  <%= link_to "Show this service", @service %> |
  <%= link_to "Back to your page", user_path %>
</div>
