<h1>Trip to <strong><%= @trip.destination %></strong> </h1>

<h2>Add a itinerary</h2>
<%= link_to "add a itinerary", new_trip_itinerary_path(@trip) %>
<div>
    <%= @itinerary.description %>
</div>
  <div>
    <%= @itinerary.date %>
  </div>
