.day {
  background-color: #ffff;
  font-family: "roboto";
  font-style: normal;
  border-style: initial;
  overflow: overlay;
}

<<<<<<< HEAD
.calendar-title {
  font-size: xx-large;
  font-family: "roboto";
}

.calendar {
  border-radius: 50%;
=======
.doc {
  width: 600px;
  height: 400px;

>>>>>>> master
}
