.day {
  background-color: #ffff;
  font-family: "roboto";
  font-style: normal;
  border-style: initial;
  overflow: overlay;
}

.calendar-title {
  font-size: xx-large;
  font-family: "roboto";
}

.calendar {
  border-radius: 50%;
}
