<body>
  <div class="wrapper">
    <div class="footer footer-expand-sm footer-light footer-lewagon">
  <div class="container-fluid">
    <%= link_to "#", class: "footer-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>

    <div class="push"></div>
  </div>
  <footer class="footer"></footer>
</body>
