<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>



<div class="container">
  <div class="search-form-control form-group m-3">
    <%= form_with url: user_trips_path(current_user.id), method: :get, class: "d-flex" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Encontre sua trip"
        %>
      <%= submit_tag "Buscar", name: "", class: "btn btn-flat" %>
    <% end %>
  </div>
</div>
