<div class="container mt-5">
    <div class="card trip-card">
      <%= cl_image_tag @document.photo.key, class: "doc " if @document.photo.attached? %>
      <div class="card-body">
        <h1 class="d-flex justify-content-center m-3 bebas-neue-regular"><%= @document.description %></h1>
      </div>
    </div>
</div>
