<div class="container">
  <h1 class="d-flex justify-content-center m-3 roboto-regular"><%= @document.description %></h1>

  <div class="d-flex justify-content-center m-3">
    <%= cl_image_tag @document.photo.key, class: "doc  rouded" if @document.photo.attached? %>
  </div>

  <div class="d-flex justify-content-center m-3 roboto-regular">
    <% if @document.price.present? %>
      <strong> Price:</strong> <%= @document.price  %>
    <% end %>
  </div>

</div>
