.btn-login {
  color: #1abc9c;
  font-style: bold;
}

.btn-login:hover {
  box-shadow: 5px 5px 10px;
  background-color: #1abc9c;
  font-style: bold;
}

.btn-singup {
  color: #1abc9c;
  font-style: bold;
}

.btn-singup:hover {
  box-shadow: 5px 5px 10px;
  background-color: #000;
  color:#ffff;
  font-style: bold;
}

.forgot-password {
  text-decoration: none;
}
.forgot-password:hover {
  transition: 50ms;
  color: red;
  text-decoration: underline;
  // box-shadow: 5px 5px 10px;
  text-shadow: 2px 2px 5px;
}

.btn-resend:hover {
    box-shadow: 5px 5px 10px;
    background-color: #1abc9c;
    font-style: bold;
}

.btn-home {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  margin: auto 0;
  font-style: bold;
  box-shadow: 5px 5px 10px;
}
