.btn-login {
  color: #0E9EEF;
  font-style: bold;
}

.btn-login:hover {
  box-shadow: 5px 5px 10px;
  background-color: #0E9EEF;
  font-style: bold;
}

.btn-input {
  color: #ffffff;
  background-color: #0E9EEF;
  font-style: bold;
  padding: 8px 24px;
  border-radius: 50px;
  text-align: center;
}

.btn-input:hover {
  box-shadow: 5px 5px 10px;
  color: #ffffff;
  background-color: #000000;
  font-style: bold;
}

.btn-singup {
  color: #0E9EEF;
  font-style: bold;
}

.btn-singup:hover {
  box-shadow: 5px 5px 10px;
  background-color: #000;
  color:#ffff;
  font-style: bold;
}

.forgot-password {
  text-decoration: none;
}
.forgot-password:hover {
  transition: 50ms;
  color: red;
  text-decoration: underline;
  // box-shadow: 5px 5px 10px;
  text-shadow: 2px 2px 5px;
}

.btn-resend:hover {
    box-shadow: 5px 5px 10px;
    background-color: #0E9EEF;
    font-style: bold;
}

.btn-home {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  margin: auto 0;
  font-style: bold;
  box-shadow: 5px 5px 10px;
  border-radius: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-home:hover{
  background-color: rgb(255, 255, 255);
  color: #0E9EEF;
  border-style: solid;
  border-color:#0E9EEF;
}

.btn-i {
  width: 50%;
  padding: 10px;
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  font-style: bold;
  border-radius: 10px;
}
.btn-i:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

.btn-card{
  display: block;
  width: 100%;
  padding: 0px;
  text-align: center;
  background-color: black;
  color: white;
  text-decoration: none;
  margin: auto 0;
  font-style: bold;
  box-shadow: 5px 5px 10px;
  border-radius: 5px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  size-adjust: 50px;
}

.btn-card:hover {
  background-color: rgb(255, 255, 255);
  color: #0E9EEF;
  border-style: solid;
  border-color:#0E9EEF;
  border-radius: 5px;
}

.btn-singup-1 {
  background-color:#0E9EEF;
  color: #ffff;
  font-style: bold;
  border-radius: 20px;
}

.btn-singup-1:hover {
  box-shadow: 5px 5px 10px;
  background-color: #000;
  font-style: bold;
  color:#ffff
}
