.cards-grid{
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.img-card-index {
  width: 100%;
  object-fit: cover;
  height: 200px;

}

.cardb {
  background-color: #fff;
  border: solid;
  border-color: #1ABC9C;
}
